<% @populates.fa_activities.each do |f|%>
    <% f.pre_demonstrations.each do |pre|%>
        <h4><%=pre.demo_code%>
        <%= link_to 'New Demonstration', new_demonstration_path(:pre_id => pre.id), class: 'btn btn-primary'%></h4><br>
    <%end%>



<%end%>
