 <div class="col-md-6">
<%@state_manager.each do |sm|%>
<label>State Manager </label>
<input type="text_field" name="state_manager" class="form-control"  value='<%=sm.sur_name%>' readonly="readonly"/>

<%end%>

</div>
