<%@sr_activity.meet_state_managers.each do |state_man|%>
<p>
  <strong>Pocket:</strong>
  <%=state_man.pocket.pocket_name%>
</p>

<p>
  <strong>Dealer:</strong>
  <%=state_man.dealer.name%>
</p>
<%end%>
