<%@fa_activity.dealer_visits.each do |deal|%>
<p>
  <strong>Dealer</strong>
  <%=deal.dealer_id%>
</p>

<p>
  <strong>Purpose</strong>
  <%=deal.purpose.humanize.titleize%>
</p>
    <%= render 'fa_activities/visit_dealer_show/inventory_show' if deal.purpose=='inventory_check' %>
    <%= render 'fa_activities/visit_dealer_show/interact_farmer_show' if deal.purpose=='interact_farmers' %>
<%end%>