<p id="notice"><%= notice %></p>

<h1>Users</h1>
<ul class="users">
  <% @users.each do |u|%>
      <li>
        <%=u.sur_name%>
        <%=link_to u.user_name,u%> <br><br>

      </li>
  <%end%>
</ul>
<br>

<%= link_to 'New User', new_user_path %>
