<div class="nested-fields">
  <table class="table table-bordered">
    <tbody>
    </tbody>
    <thead>
    <tr>
      <%= f.file_field :photo %>
    </tr>
    </thead>
  </table>
  <%= link_to_remove_association "Remove", f, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF'%>
</table>
</div>