<p>
  <strong>Purpose:</strong>
  <%= @sr_activity.meet_dealer.purpose.humanize.titleize%>
</p>

<%= render 'sr_activities/meet_dealer_show/other_dealer' if @sr_activity.meet_dealer.purpose=='other'%>