<%@sr_activity.meet_dealers.each do |meet_deal|%>
<p>
  <strong>Purpose:</strong>
  <%= meet_deal.purpose.humanize.titleize%>
</p>

<%= render 'sr_activities/meet_dealer_show/other_dealer' if meet_deal.purpose=='other'%>
<%end%>