<%@sr_activity.business_developments.each do |buss_dev|%>
<p>
  <strong>Option:</strong>
  <%=buss_dev.option.humanize.titleize %>
</p>

<%= render 'sr_activities/buss_dev_show/org_farm_show' if buss_dev.option=='organize_farmer_meeting'%>
<%= render 'sr_activities/buss_dev_show/org_dealer_show' if buss_dev.option=='organize_dealer_meeting'%>
<%end%>