<%@sr_activity.business_developments.each do |buss_dev|%>
<p>
  <strong>Pocket</strong>
  <%=buss_dev.pocket.pocket_name%>
</p>
<p>
  <strong>A Attendees</strong>
  <%=buss_dev.a_attendees%>
</p>

<p>
  <strong>B Attendees</strong>
  <%=buss_dev.b_attendees%>
</p>


<p>
  <strong>C Attendees</strong>
  <%=buss_dev.c_attendees%>
</p>
<%end%>