<%@sr_activity.business_developments.each do |buss_dev|%>
<p>
  <strong>Pre Demonstration</strong>
  <%=buss_dev.pre_demonstration.demo_code%>
</p>
<p>
  <strong>Number of Attendants</strong>
  <%=buss_dev.numattendees%>
</p>

<p>
  <strong>Sample Request</strong>
  <%=buss_dev.set_bool%>
</p>
<%end%>
