<p>
  <strong>Pre Demonstration</strong>
  <%=@sr_activity.business_development.pre_demonstration.demo_code%>
</p>
<p>
  <strong>Number of Attendants</strong>
  <%=@sr_activity.business_development.numattendees%>
</p>

<p>
  <strong>Sample Request</strong>
  <%=@sr_activity.business_development.set_bool%>
</p>
