<p>
  <strong>Pocket</strong>
  <%=@sr_activity.business_development.pocket.pocket_name%>
</p>
<p>
  <strong>A Attendees</strong>
  <%=@sr_activity.business_development.a_attendees%>
</p>

<p>
  <strong>B Attendees</strong>
  <%=@sr_activity.business_development.b_attendees%>
</p>


<p>
  <strong>C Attendees</strong>
  <%=@sr_activity.business_development.c_attendees%>
</p>
