<div class="nested-fields">
  <table class="table table-bordered">
    <tbody>
    </tbody>
    <thead>
    <tr>
      <th class="text-center">
        <div class="picture-container">
                                    <div class="picture">
                                      <img src="http://image.flaticon.com/icons/png/512/52/52297.png"
                                           class="picture-src" id="wizardPicturePreview" title="">
                                      <%= f.file_field :avatar, id:"wizard-picture" %>
                                    </div>
                                    <h5 class=""><b>Upload Dealer Form</b></h5>
                                    </div>
      </th>
    </tr>

  </table>
  <%= link_to_remove_association "Remove", f, class: "btn btn-danger pull-right",:style=>'color:#FFFFFF'%>
</table>
</div>

                                 
                              