// Place all the styles related to the Demonstrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#app_comment_field,#follow_comment_field{
  display: none;
}
#hide_pos_id,#hide_pre_demo{
display: none;
}
#panel_ds{
  width: 1000px ;
  margin-left: 350px ;
  margin-right: auto ;
}
