// Place all the styles related to the Fa_activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#meet_farm_sele{
  display: none
}
#prod_pres_sele{
  display: none
}
#dealer_shop{
  display: none
}
#interact-farm{
  display: none
}
#inventory_checker{
  display: none;
}
#fa_activity_meet_farmer_attributes_activity_farmers_attributes_0_farmer_id,
#fa_activity_meet_farmer_attributes_activity_farmers_attributes_1_farmer_id,
#fa_activity_meet_farmer_attributes_activity_farmers_attributes_2_farmer_id,
#fa_activity_meet_farmer_attributes_activity_farmers_attributes_3_farmer_id,
#fa_activity_meet_farmer_attributes_activity_farmers_attributes_4_farmer_id,
#fa_activity_meet_farmer_attributes_activity_farmers_attributes_5_farmer_id,
#fa_activity_meet_farmer_attributes_activity_farmers_attributes_6_farmer_id,
#fa_activity_meet_farmer_attributes_activity_farmers_attributes_7_farmer_id,
#fa_activity_meet_farmer_attributes_activity_farmers_attributes_8_farmer_id,
#fa_activity_meet_farmer_attributes_activity_farmers_attributes_9_farmer_id,
#met_farmers{
  display: none;
}
#assist_comment,#assist_mvc{
  display: none;
}
#act_comment{
  display: none;
}
#demo_meeting{
  display: none;
}
#pop_forms{
  display: none;
}
#post_demo_meeting{
  display: none;
}
//for labels in the met farmers
#soup1,#soup2,#soup3,#soup4,#soup5,#soup6,#soup7,#soup8,
#soup9,#soup10{
display: none
}


//#single_prod_app,#box_prod_app{
//  display: none;
//}

#demonstrations_button{
  display: none;
}

.checkbox input[type="checkbox"]{

  list-style: none;
  width: 40%
}

.checkbox input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 10%;
  width: 150%;
}