// Place all the styles related to the Fa_activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#meet_farm_sele{
  display: none
}
#prod_pres_sele{
  display: none
}
#dealer_shop{
  display: none
}
#interact-farm{
  display: none
}
#inventory_checker{
  display: none;
}
#farm_met_1,#farm_met_2,#farm_met_3,#farm_met_4,#farm_met_5,#farm_met_6,#farm_met_7,#farm_met_8,#farm_met_9,#farm_met_10{
  display: none;
}
#assist_comment,#assist_mvc{
  display: none;
}
#act_comment{
  display: none;
}
#demo_meeting{
  display: none;
}