
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading text-center">
  <h1 class="panel-title text-center">New Pre Demonstration</h1>
</div>
  <%= render 'form' %>
  <%= link_to 'Back', pre_demonstrations_path %>
</div>
</div>





