
<p>
  <strong>Farmer:</strong>
  <%= @sr_activity.meet_sr_farmer.farmer.name%>
</p>

<p>
  <strong>Crop:</strong>
  <%= @sr_activity.meet_sr_farmer.crop.crop%>
</p>


<p>
  <strong>Crop Condition:</strong>
  <%= @sr_activity.meet_sr_farmer.crop_condition.humanize.titleize%>
</p>

<p>
  <strong>Crop Growth:</strong>
  <%= @sr_activity.meet_sr_farmer.crop_growth.humanize.titleize%>
</p>
