<%@sr_activity.meet_sr_farmers.each do |me_sr|%>
<p>
  <strong>Farmer:</strong>
  <%= me_sr.farmer.name%>
</p>

<p>
  <strong>Crop:</strong>
  <%= me_sr.crop.crop%>
</p>


<p>
  <strong>Crop Condition:</strong>
  <%= me_sr.crop_condition.humanize.titleize%>
</p>

<p>
  <strong>Crop Growth:</strong>
  <%= me_sr.crop_growth.humanize.titleize%>
</p>
<%end%>