<div class="container">
  <footer class="footer">

    <nav>
      <%= image_tag ("green.png"), id: "dm_logo"%>
      <ul>
        <li><%= link_to "Help", root_path%></li>
      </ul>
    </nav>
  </footer>
</div>