<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://www.oceanagro.com/">Ocean Agro</a>
      by Sirius Consulting Solutions
    </small>
    <nav>
      <%= image_tag ("green.png"), id: "dm_logo"%>
      <ul>
        <li><%= link_to "Help", root_path%></li>
      </ul>
    </nav>
  </footer>
</div>